ul {
  list-style-type: none;
  margin: 50;
  padding: 0;
  overflow: hidden;
  background: #28d
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 background: #17c;

}

#us{
  float:right;
}
#log{
  float:right;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}
.title{
  text-align:center; 
  margin-bottom: 50px;
}
.conteiner{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
   }
.score { 
    padding: 20px; /* Поля */
    background: #28d; /* Цвет фона */
    border: 2px solid black; /* Параметры рамки */
    width: 200px;
    height: 200px;
    color: white;
    margin-left: 60px;
    float: left;
    width: 20%;
    margin-top: 50px;
    text-align: center;
   }
   .score h4{
    margin-top: 60px;
   }
   a.button {
  background-color: #28d; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  
}
a.button:hover {
  background-color: #17c;
}
.showbutton{
  margin-bottom: 20px;
  margin-left: 20px;
}
  